.ingredients__section {
  display: flex;
  flex-direction: column;
  min-width: 600px;
}

.ingredients__total {
  display: flex;
  gap: 10px;
  align-items: center;
}
.ingredients__shopping_cart {
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  position: relative;
}
.ingredients__button {
  display: flex;
  width: 213px;
  height: 66px;
  border-radius: 30px;
  background-color: white;
  opacity: .5;
  position: absolute;
  right: 0px;
}