.app {
  max-width: 1280px;
  margin: 0px auto;
}

.app__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app__search {
  display: flex;
}

.app__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
