.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1440px;
	margin: 0;
}

.header__navigation {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin: 0 60px 0 0;
	padding: 0;
	list-style-type: none;
}


.header__login {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;
	margin: 0 60px 0 0;
	padding: 0;
	list-style-type: none;
}